@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!doctype html>
<html class="no-js" lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lucky BamBoo – Plant Shop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/LayoutAssets/img/favicon.ico">
    <!-- CSS
    ========================= -->
    <!--bootstrap min css-->
    <link href="~/LayoutAssets/css/bootstrap.min.css" rel="stylesheet" />
    <!--owl carousel min css-->
    <link rel="stylesheet" href="~/LayoutAssets/css/owl.carousel.min.css">
    <!--slick min css-->
    <link rel="stylesheet" href="~/LayoutAssets/css/slick.css">
    <!--magnific popup min css-->
    <link rel="stylesheet" href="~/LayoutAssets/css/magnific-popup.css">
    <!--font awesome css-->
    <link rel="stylesheet" href="~/LayoutAssets/fontawesome/css/all.min.css">
    <!--animate css-->
    <link rel="stylesheet" href="~/LayoutAssets/css/animate.css">
    <!--jquery ui min css-->
    <link rel="stylesheet" href="~/LayoutAssets/css/jquery-ui.min.css">
    <!--slinky menu css-->
    <link rel="stylesheet" href="~/LayoutAssets/css/slinky.menu.css">
    <!--plugins css-->
    <link rel="stylesheet" href="~/LayoutAssets/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/LayoutAssets/css/style.css">
    <!--modernizr min js here-->
    <script src="~/LayoutAssets/js/vendor/modernizr-3.7.1.min.js"></script>
    <!--animation-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!--michalsnik.github.io-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    ﻿ <!--header area start-->
    <!--offcanvas menu area start-->
    <div class="off_canvars_overlay">

    </div>
    <div class="offcanvas_menu">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12">
                    <div class="canvas_open">
                        <a href="javascript:void(0)"><i class="fa fa-bars"></i></a>
                    </div>
                    <div class="offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="far fa-x"></i></a>
                        </div>
                        <div class="welcome-text">
                            <p>@Localizer["Free Delivery"]</p>
                        </div>
                        <div class="language_currency text-center">
                            @await Html.PartialAsync("_selectLanguagesPartial")
                        </div>
                        <div class="search_container">
                            <form action="#">
                                <div class="search_box">
                                    <input placeholder="@Localizer["search product"]" type="text">
                                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="call-support">
                            <p>@Localizer["call support"] <a href="tel:0869830923">0869830923</a></p>
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li class="menu-item-has-children active">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["home"]</a>
                                </li>
                                <li class="menu-item-has-children active">
                                    <a asp-area="" asp-controller="Home" asp-action="Introduction">@Localizer["introduction"]</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a asp-area="" asp-controller="Products" asp-action="Index">@Localizer["product"]</a>
                                    @await Component.InvokeAsync("ProductComponent2")

                                </li>
                                <li class="menu-item-has-children">
                                    <a asp-area="" asp-controller="Blogs" asp-action="Index">@Localizer["science"]</a>
                                    @await Component.InvokeAsync("BlogComponent2")
                                </li>
                                <li class="menu-item-has-children">
                                    <a asp-area="" asp-controller="Contacts" asp-action="Index">@Localizer["contact"]</a>
                                </li>

                            </ul>
                        </div>

                        <div class="offcanvas_footer">
                            <span><a href="#"><i class="fa fa-envelope-o"></i> luckybamboo@gmail.com</a></span>
                            <ul>
                                <li class="facebook"><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                                <li class="twitter"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li class="pinterest"><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                                <li class="google-plus"><a href="#"><i class="fa-brands fa-google"></i></a></li>
                                <li class="linkedin"><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--offcanvas menu area end-->
    <header>
        <div class="main_header">
            <div class="header_top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-7">
                            <div class="welcome-text">
                                <p>@Localizer["Free Delivery"]</p>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <div class="language_currency text-right">
                                @await Html.PartialAsync("_selectLanguagesPartial")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-4 col-4">
                            <div class="logo">
                                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/LayoutAssets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-6 col-6">
                            <div class="header_right_info">
                                <div class="search_container">
                                    <form action="#">
                                        <div class="search_box">
                                            <input placeholder="@Localizer["search product"]" type="text">
                                            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="header_account_area">
                                    <div class="header_account-list top_links">
                                        @*<a asp-area="" asp-controller="Users" asp-action="Index"><i class="fa-solid fa-user"></i></a>
                                            <ul class="dropdown_links">
                                                <li>
                                                    <a asp-area="Identity" asp-page="/Account/Login">@Localizer["login"]</a>
                                                </li>
                                                <li>
                                                    <a asp-area="Identity" asp-page="/Account/Register">@Localizer["register"]</a>
                                                </li>
                                            </ul>*@
                                        <partial name="_LoginPartial" />
                                    </div>
                                    <div class="header_account-list  mini_cart_wrapper">
                                        <a href="javascript:void(0)">
                                            <i class="fa-solid fa-cart-shopping"></i><span class="item_count" id="countCartItemNav"></span>
                                        </a>
                                        <!--mini cart-->
                                        <div class="mini_cart">
                                            <div class="cart_gallery">
                                                <div class="cart_close">
                                                    <div class="cart_text">
                                                        <h3>cart</h3>
                                                    </div>
                                                    <div class="mini_cart_close">
                                                        <a href="javascript:void(0)"><i class="fa-solid fa-xmark"></i></a>
                                                    </div>
                                                </div>
                                                <div id="list_cart_item">
                                                    @*scrip html*@
                                                </div>

                                            </div>
                                            <div class="mini_cart_footer">
                                                <div class="cart_button">
                                                    <a asp-area="" asp-controller="Orders" asp-action="Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                        @Localizer["view cart"]
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--mini cart end-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_bottom sticky-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="categories_menu">
                                <div class="categories_title">
                                    <i class="fa-solid fa-bars-staggered"></i>
                                    <h2 class="categori_toggle">@Localizer["category"]</h2>
                                </div>
                                <div class="categories_menu_toggle">
                                    @await Component.InvokeAsync("ProductComponent1")
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <!--main menu start-->
                            <div class="main_menu menu_position">
                                <nav>
                                    <ul>
                                        <li>
                                            <a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["home"]</a>

                                        </li>

                                        <li>
                                            <a asp-area="" asp-controller="Home" asp-action="Introduction">@Localizer["introduction"]</a>

                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Products" asp-action="Index">@Localizer["product"]</a>

                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Blogs" asp-action="Index">@Localizer["science"]<i class="fa fa-angle-down"></i></a>
                                            @await Component.InvokeAsync("BlogComponent1")
                                        </li>
                                        <li><a asp-area="" asp-controller="Contacts" asp-action="Index">@Localizer["contact"]</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!--main menu end-->

                        </div>
                        <div class="col-lg-2">
                            <div class="call-support">
                                <p>@Localizer["call support"] <a href="tel:0869830923">0869830923</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Messenger Plugin chat Code -->
        <!--<div id="fb-root"></div>-->
        <!-- Your Plugin chat code -->
        <!--<div id="fb-customer-chat" class="fb-customerchat">
        </div>

        <script>
            var chatbox = document.getElementById('fb-customer-chat');
            chatbox.setAttribute("page_id", "191698994026373");
            chatbox.setAttribute("attribution", "biz_inbox");
        </script>-->
        <!-- Your SDK code -->
        <!--<script>
            window.fbAsyncInit = function () {
                FB.init({
                    xfbml: true,
                    version: 'v18.0'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>-->
    </header><!--header area end-->
    @RenderBody()
    <!--footer area start-->
    @await Html.PartialAsync("_footerLayout.cshtml")
    <!--footer area end-->
    <!-- JS
    ============================================ -->
    <!--jquery min js-->
    <script src="~/LayoutAssets/js/vendor/jquery-3.4.1.min.js"></script>
    <!--popper min js-->
    <script src="~/LayoutAssets/js/popper.js"></script>
    <!--bootstrap min js-->
    <script src="~/LayoutAssets/js/bootstrap.min.js"></script>
    <script src="~/AdminAssets/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/AdminAssets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--owl carousel min js-->
    <script src="~/LayoutAssets/js/owl.carousel.min.js"></script>
    <!--slick min js-->
    <script src="~/LayoutAssets/js/slick.min.js"></script>
    <!--magnific popup min js-->
    <script src="~/LayoutAssets/js/jquery.magnific-popup.min.js"></script>
    <!--counterup min js-->
    <script src="~/LayoutAssets/js/jquery.counterup.min.js"></script>
    <!--jquery countdown min js-->
    <script src="~/LayoutAssets/js/jquery.countdown.js"></script>
    <!--jquery ui min js-->
    <script src="~/LayoutAssets/js/jquery.ui.js"></script>
    <!--jquery elevatezoom min js-->
    <script src="~/LayoutAssets/js/jquery.elevatezoom.js"></script>
    <!--isotope packaged min js-->
    <script src="~/LayoutAssets/js/isotope.pkgd.min.js"></script>
    <!--slinky menu js-->
    <script src="~/LayoutAssets/js/slinky.menu.js"></script>
    <!-- Plugins JS -->
    <script src="~/LayoutAssets/js/plugins.js"></script>
    <!--michalsnik.github.io-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!-- Main JS -->
    <script src="~/LayoutAssets/js/main.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/localStorage/localStorage.js"></script>
    <script>
        function GetProductData(productId, color) {
            return new Promise(function (resolve, reject) {
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '/Orders/GetProductById',
                    dataType: 'JSON',
                    data: { productId: productId, color: color },
                    success: function (product) {
                        // Resolve the promise with the received data
                        resolve(product);
                    },
                    error: function () {
                        // Reject the promise
                        reject("Error occurred while retrieving product data.");
                    }
                });
            });
        }

        var cartItemsNav = GetCarts();
        var countNav = cartItemsNav.length;
        var CountNavigation = document.getElementById('countCartItemNav');
        CountNavigation.textContent = countNav;
        var listCartNav = document.getElementById('list_cart_item');
        listCartNav.innerHTML = '';
        cartItemsNav.forEach(function (item) {
            GetProductData(item.productId, item.color)
                .then(function (product) {
                    var priceMiniCartToMoney = product.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                    // Handle the received data
                    var itemCartNav = document.createElement('div');
                    itemCartNav.classList.add('cart_item');
                    itemCartNav.innerHTML = `
                                                                                         <div class="cart_img">
                                                                                            <a ><img src="/image/product/${product.image}" alt=""></a>
                                                                                        </div>
                                                                                        <div class="cart_info">
                                                                                            <a href="#">${product.productName}</a >
                                                                                            <p>${priceMiniCartToMoney} x ${item.color}</p>
                                                                                        </div>
                                                                                `
                    listCartNav.appendChild(itemCartNav);
                })
                .catch(function (error) {
                    // Handle errors
                    alert(error);
                });

        })
    </script>

</body>

</html>
