@using Plant.Models
@using Plant.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@model Plant.ViewModels.ProductVm
@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ProductColor> listColor = ViewBag.ProductColor;
    List<ProductImg> listImg = ViewBag.ProductImg;
    List<ProductVm> productDifferent = ViewBag.ProductDifferent;
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area" style=" background-image: url('../../LayoutAssets/img/slider/capturar-co2-atmosfera.jpg') ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3 style="font-weight: 800; color: white; text-shadow: 0 0 0.2em black; ">@Localizer["product"]</h3>
                    <ul>
                        <li style="font-weight: 600; color: white; text-shadow: 0 0 0.2em black; "><a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["home"]</a></li>
                        <li style="font-weight: 600; color: yellowgreen; text-shadow: 0 0 0.2em black; ">@Localizer["product"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--product details start-->
<div class="product_details mt-100 mb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details-tab">
                    <div id="img-1" class="zoomWrapper single-zoom">
                        <a>
                            <img id="main_product" src="~/image/product/@Model.Image"
                                 data-zoom-image="~/image/product/@Model.Image" alt="">
                        </a>
                    </div>
                    <div class="single-zoom-thumb">
                        <ul class="s-tab-zoom owl-carousel single-product-active" id="list_prouduct_img">
                            @foreach (var item in listImg)
                            {
                                <li>
                                    <a class="elevatezoom-gallery" data-update=""
                                       data-image="~/image/listProduct/@item.Img"
                                       data-zoom-image="~/image/listProduct/@item.Img">
                                        <img src="~/image/listProduct/@item.Img" alt="" />
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product_d_right">
                    <h1><a href="#">@Model.ProductName</a></h1>
                    <div class="price_box">
                        @if (Model.Voucher == null || Model.Voucher <= 0)
                        {
                        <span class="current_price">@Model.Price.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</span>
                        }
                        @if (Model.Voucher > 0)
                        {
                    <span class="current_price">@Model.Price.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</span>
                    <span class="old_price">@Model.OriginalPrice.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</span>
                        }

                    </div>
                    <div class="product_desc">
                        <p>
                            @Model.ShortDes
                        </p>
                    </div>
                    @foreach (var item in listColor)
                    {
                        if (item.Color == "default")
                        {
                            <div class="product_variant quantity">
                                <label>@Localizer["quantity"]</label>
                                <input min="1" value="1" max="@item.Stock" type="number" id="htmlQuantity" />
                                <span>@item.Stock sản phẩm có sẵn</span>
                            </div>
                            <div style="color:red;display:none;" id="notiQuantity">Số lượng bạn chọn đã đạt mức tối đa của sản phẩm này</div>
                            <div class="product_variant quantity">
                                <button class="button" onclick="AddToCart(@Model.ProductId, document.getElementById('htmlQuantity').value, '@item.Color',false)">@Localizer["add to cart"]</button>
                            </div>
                        }
                        else
                        {
                            <div class="product_variant color">
                                <h4>@Localizer["choose color"]</h4>
                                <ul>
                                    @foreach (var child in listColor)
                                    {
                                        <li onclick="selectColor(this, @child.Stock)">@child.Color</li>
                                    }
                                </ul>
                            </div>
                            <div class="product_variant quantity">
                                <label>@Localizer["quantity"]</label>
                                <input min="1" value="1" type="number" id="htmlQuantity" />
                                <span id="stockSpanColor"></span>
                            </div>
                            <div style="color:red;display:none;" id="notiQuantity">Số lượng bạn chọn đã đạt mức tối đa của sản phẩm này</div>
                            <div class="product_variant quantity">
                                <button class="button"
                                        onclick="AddToCart(@Model.ProductId, document.getElementById('htmlQuantity').value, document.querySelector('.product_variant.color li.selected').textContent, false)">
                                    @Localizer["add to cart"]
                                </button>
                            </div>
                        }
                        break;
                    }


                </div>
            </div>
        </div>
    </div>
</div>
<!--product details end-->
<!--product info start-->
<div class="product_d_info mb-90">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_d_inner">
                    <div class="product_info_button">
                        <ul class="nav" role="tablist" id="nav-tab">
                            @if (Model.Description != null)
                            {
                                <li>
                                    <a class="active" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info"
                                       aria-selected="false">@Localizer["description"]</a>
                                </li>
                            }
                            @if (Model.TakeCare != null)
                            {
                                <li>
                                    <a data-bs-toggle="tab" href="#sheet" role="tab" aria-controls="sheet"
                                       aria-selected="false">@Localizer["takecare"]</a>
                                </li>
                            }
                            @if (Model.Application != null)
                            {
                                <li>
                                    <a data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
                                       aria-selected="false">@Localizer["application"]</a>
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="info" role="tabpanel">
                            <div class="product_info_content">
                                @Html.Raw(Model.Description)
                            </div>
                        </div>
                        <div class="tab-pane fade" id="sheet" role="tabpanel">
                            <div class="product_info_content">
                                @Html.Raw(Model.TakeCare)
                            </div>
                        </div>

                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                            <div class="reviews_wrapper">
                                @Html.Raw(Model.Application)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product info end-->
<!--product area start-->
<section class="product_area related_products">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>@Localizer["product other"] </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product_carousel product_column4 owl-carousel">
                @foreach (var item in productDifferent)
                {
                    <div class="col-lg-3">
                        <article class="single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a class="primary_img" asp-area="" asp-controller="Products" asp-action="GetDetailProduct" asp-route-id="@item.ProductId">
                                        <img src="~/image/product/@item.Image" alt="">
                                    </a>
                                    <div class="label_product">
                                        <span class="label_sale">-@item.Voucher%</span>
                                    </div>
                                </div>
                                <figcaption class="product_content">
                                    <h4 class="product_name"><a href="product-details.html">@item.ProductName </a></h4>
                                    <div class="price_box">
                                        @if (item.Voucher == null || item.Voucher <= 0)
                                        {
                                            <span class="current_price">@item.Price <u>đ</u></span>
                                        }
                                        @if (item.Voucher > 0)
                                        {
                                            <span class="current_price">@item.Price <u>đ</u></span>
                                            <span class="old_price">@item.OriginalPrice <u>đ</u></span>
                                        }
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                    </div>

                }

            </div>
        </div>
    </div>
</section>
<!--product area end-->
@section Scripts{
    <script>
        // Get all the <li> elements
        var liElements = document.querySelectorAll("#list_prouduct_img li");

        // Add click event listener to each <li> element
        liElements.forEach(function (li) {
            li.addEventListener("mouseover", function () {
                // Get the image URL from the clicked <li> element
                var imageUrl = li.querySelector("img").getAttribute("src");

                // Update the src attribute of the main product image
                document.getElementById("main_product").setAttribute("src", imageUrl);
            });
        });

        function selectColor(li, stock) {
            var lis = document.querySelectorAll('.product_variant.color li');
            lis.forEach(function (item) {
                item.classList.remove("selected");
            });

            li.classList.add("selected")
            document.getElementById('stockSpanColor').innerText = stock + ' sản phẩm có sẵn';
            var maxQuantity = document.getElementById('htmlQuantity');
            maxQuantity.max = stock;
            inputQuantity.value = 1;
            notiQuantity.style.display = 'none';
        }
        var inputQuantity = document.getElementById('htmlQuantity');
        var notiQuantity = document.getElementById('notiQuantity');
        inputQuantity.addEventListener('input', function () {
            if (parseInt(inputQuantity.value) > parseInt(inputQuantity.max)) {
                inputQuantity.value = inputQuantity.max;
                notiQuantity.style.display = 'block';
                setTimeout(() => {
                    errorMessage.style.display = 'none';
                }, 5000);
            } else {
                notiQuantity.style.display = 'none';
            }
        })

    </script>
}