@using Plant.Models
@using Plant.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@using PagedList.Core.Mvc
@model Plant.ViewModels.ProductVm
@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ProductColor> listColor = ViewBag.ProductColor;
    List<ProductImg> listImg = ViewBag.ProductImg;
    List<ProductVm> productDifferent = ViewBag.ProductDifferent;
    List<ReviewFeedbackVm> countListFeedback = ViewBag.CountListFeedback;
    var listFeedback = ViewBag.ListFeedback as PagedList.Core.IPagedList<ReviewFeedbackVm>;
    var chooseStar = ViewBag.CurrentChooseStar;
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area" style=" background-image: url('../../LayoutAssets/img/slider/capturar-co2-atmosfera.jpg') ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3 style="font-weight: 800; color: white; text-shadow: 0 0 0.2em black; ">@Localizer["product"]</h3>
                    <ul>
                        <li style="font-weight: 600; color: white; text-shadow: 0 0 0.2em black; "><a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["home"]</a></li>
                        <li style="font-weight: 600; color: redgreen; text-shadow: 0 0 0.2em black; ">@Localizer["product"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--product details start-->
<div class="product_details mt-100 mb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details-tab">
                    <div id="img-1" class="zoomWrapper single-zoom">
                        <a>
                            <img id="main_product" src="~/image/product/@Model.Image"
                                 data-zoom-image="~/image/product/@Model.Image" alt="">
                        </a>
                    </div>
                    <div class="single-zoom-thumb">
                        <ul class="s-tab-zoom owl-carousel single-product-active" id="list_prouduct_img">
                            @foreach (var item in listImg)
                            {
                                <li>
                                    <a class="elevatezoom-gallery" data-update=""
                                       data-image="~/image/listProduct/@item.Img"
                                       data-zoom-image="~/image/listProduct/@item.Img">
                                        <img src="~/image/listProduct/@item.Img" alt="" />
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product_d_right">
                    <h1><a href="#">@Model.ProductName</a></h1>
                    <div class="product_ratting">
                        @{
                            if (Model.CountFeedback > 0)
                            {
                                <u style="font-size:20px; color:red; font-weight:700;">@Model.AverageStar.ToString("N1")</u>
                                for (int i = 1; i <= (int)Math.Floor(Model.AverageStar); i++)
                                {
                                    <i class="fa-solid fa-star" style="color:red;"></i>
                                }
                                if ((Model.AverageStar - Math.Floor(Model.AverageStar)) > 0)
                                {
                                    var leftStar = (Model.AverageStar - Math.Floor(Model.AverageStar)) * 100;
                                    var rightStar = 100 - leftStar;
                                    <i class="fa-solid fa-star"
                                       style="background: linear-gradient(to right, red @Math.Floor(leftStar)%, red @Math.Floor(leftStar)%) left,linear-gradient(to right, black @Math.Floor(rightStar)%, black @Math.Floor(rightStar)%) right;
                                        background-size: @Math.Floor(leftStar)% 100%, @Math.Floor(rightStar)% 100%;
                                        background-repeat: no-repeat;
                                        -webkit-background-clip: text;
                                        color: transparent;">
                                    </i>

                                    for (int i = (int)Math.Floor(Model.AverageStar) + 2; i <= 5; i++)
                                    {
                                        <i class="fa-solid fa-star" style="color:black;"></i>
                                    }
                                }
                                else
                                {
                                    for (int i = (int)Math.Floor(Model.AverageStar) + 1; i <= 5; i++)
                                    {
                                        <i class="fa-solid fa-star" style="color:black;"></i>
                                    }
                                }
                                <span style="font-size:20px;"> | <u>@Model.CountFeedback</u> Đánh Giá | <u>@Model.CountProductSell</u> Đã Bán</span>
                            }
                            else
                            {
                                <span style="font-size:20px;"><u>@Model.CountProductSell</u> Đã Bán</span>
                            }
                        }

                    </div>
                    <div class="price_box">
                        @if (Model.Voucher == null || Model.Voucher <= 0)
                        {
                            <span class="current_price">@Model.Price.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</span>
                        }
                        @if (Model.Voucher > 0)
                        {
                            <span class="current_price">@Model.Price.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</span>
                            <span class="old_price">@Model.OriginalPrice.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</span>
                        }

                    </div>
                    <div class="product_desc">
                        <p>
                            @Model.ShortDes
                        </p>
                    </div>
                    @foreach (var item in listColor)
                    {
                        if (item.Color == "default")
                        {
                            <div class="product_variant quantity">
                                <label>@Localizer["quantity"]</label>
                                <input min="1" value="1" max="@item.Stock" type="number" id="htmlQuantity" />
                                <span>@item.Stock sản phẩm có sẵn</span>
                            </div>
                            <div style="color:red;display:none;" id="notiQuantity">Số lượng bạn chọn đã đạt mức tối đa của sản phẩm này</div>
                            <div class="product_variant quantity">
                                <button class="button" onclick="AddToCart(@Model.ProductId, document.getElementById('htmlQuantity').value, '@item.Color',false)">@Localizer["add to cart"]</button>
                            </div>
                        }
                        else
                        {
                            <div class="product_variant color">
                                <h4>@Localizer["choose color"]</h4>
                                <ul>
                                    @foreach (var child in listColor)
                                    {
                                        <li onclick="selectColor(this, @child.Stock)">@child.Color</li>
                                    }
                                </ul>
                            </div>
                            <div class="product_variant quantity">
                                <label>@Localizer["quantity"]</label>
                                <input min="1" value="1" type="number" id="htmlQuantity" />
                                <span id="stockSpanColor"></span>
                            </div>
                            <div style="color:red;display:none;" id="notiQuantity">Số lượng bạn chọn đã đạt mức tối đa của sản phẩm này</div>
                            <div class="product_variant quantity">
                                <button class="button"
                                        onclick="AddToCart(@Model.ProductId, document.getElementById('htmlQuantity').value, document.querySelector('.product_variant.color li.selected').textContent, false)">
                                    @Localizer["add to cart"]
                                </button>
                            </div>
                        }
                        break;
                    }


                </div>
            </div>
        </div>
    </div>
</div>
<!--product details end-->
<!--product info start-->
<div class="product_d_info mb-90">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_d_inner">
                    <div class="product_info_button">
                        <ul class="nav" role="tablist" id="nav-tab">
                            @if (Model.Description != null)
                            {
                                <li>
                                    <a class="active" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info"
                                       aria-selected="false">@Localizer["description"]</a>
                                </li>
                            }
                            @if (Model.TakeCare != null)
                            {
                                <li>
                                    <a data-bs-toggle="tab" href="#sheet" role="tab" aria-controls="sheet"
                                       aria-selected="false">@Localizer["takecare"]</a>
                                </li>
                            }
                            @if (Model.Application != null)
                            {
                                <li>
                                    <a data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
                                       aria-selected="false">@Localizer["application"]</a>
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="info" role="tabpanel">
                            <div class="product_info_content">
                                @Html.Raw(Model.Description)
                            </div>
                        </div>
                        <div class="tab-pane fade" id="sheet" role="tabpanel">
                            <div class="product_info_content">
                                @Html.Raw(Model.TakeCare)
                            </div>
                        </div>

                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                            <div class="reviews_wrapper">
                                @Html.Raw(Model.Application)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product info end-->
<!--feedback start-->
@{
    if (Model.CountFeedback != 0)
    {
        <div class="product_d_info mb-90">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="feedback_d_info">
                            <h3>Đánh Giá Sản Phẩm</h3>
                            <div class="feedback_d_info_overview row">
                                <div class="col-lg-3 col-md-4 col-12 mb-3">
                                    <div class="star_overview_text">@Model.AverageStar.ToString("N1") trên 5</div>
                                    <div>
                                        @{
                                            for (int i = 1; i <= (int)Math.Floor(Model.AverageStar); i++)
                                            {
                                                <i class="fa-solid fa-star fa-2x" style="color:red;"></i>
                                            }
                                            if ((Model.AverageStar - Math.Floor(Model.AverageStar)) > 0)
                                            {
                                                var leftStar = (Model.AverageStar - Math.Floor(Model.AverageStar)) * 100;
                                                var rightStar = 100 - leftStar;
                                                <i class="fa-solid fa-star fa-2x"
                                                   style="background: linear-gradient(to right, red @Math.Floor(leftStar)%, red @Math.Floor(leftStar)%) left,linear-gradient(to right, black @Math.Floor(rightStar)%, black @Math.Floor(rightStar)%) right;
                                                    background-size: @Math.Floor(leftStar)% 100%, @Math.Floor(rightStar)% 100%;
                                                    background-repeat: no-repeat;
                                                    -webkit-background-clip: text;
                                                    color: transparent;">
                                                </i>

                                                for (int i = (int)Math.Floor(Model.AverageStar) + 2; i <= 5; i++)
                                                {
                                                    <i class="fa-solid fa-star fa-2x" style="color:black;"></i>
                                                }
                                            }
                                            else
                                            {
                                                for (int i = (int)Math.Floor(Model.AverageStar) + 1; i <= 5; i++)
                                                {
                                                    <i class="fa-solid fa-star fa-2x" style="color:black;"></i>
                                                }
                                            }


                                        }
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8 col-12">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-4 col-4 mb-3">
                                            <form asp-action="GetDetailProduct" method="get">
                                                <input type="hidden" value="0" name="htmlStar" />
                                                @if (chooseStar == 0)
                                                {
                                                    <button type="submit" class="btn btn-outline-danger active">Tất cả</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="btn btn-outline-danger">Tất cả</button>
                                                }
                                            </form>
                                        </div>
                                        @{
                                            var htmlCount1Star = 0;
                                            var htmlCount2Star = 0;
                                            var htmlCount3Star = 0;
                                            var htmlCount4Star = 0;
                                            var htmlCount5Star = 0;
                                            foreach (var item in countListFeedback)
                                            {
                                                if (item.Star == 1) { htmlCount1Star++; }
                                                if (item.Star == 2) { htmlCount2Star++; }
                                                if (item.Star == 3) { htmlCount3Star++; }
                                                if (item.Star == 4) { htmlCount4Star++; }
                                                if (item.Star == 5) { htmlCount5Star++; }
                                            }
                                            <div class="col-lg-2 col-md-4 col-4 mb-3">
                                                <form asp-action="GetDetailProduct" method="get">
                                                    <input type="hidden" value="5" name="htmlStar" />
                                                    @if (chooseStar == 5)
                                                    {
                                                        <button type="submit" class="btn btn-outline-danger active">5 Sao (@htmlCount5Star)</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="submit" class="btn btn-outline-danger">5 Sao (@htmlCount5Star)</button>
                                                    }
                                                </form>
                                            </div>
                                            <div class="col-lg-2 col-md-4 col-4 mb-3">
                                                <form asp-action="GetDetailProduct" method="get">
                                                    <input type="hidden" value="4" name="htmlStar" />
                                                    @if (chooseStar == 4)
                                                    {
                                                        <button type="submit" class="btn btn-outline-danger active">4 Sao (@htmlCount4Star)</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="submit" class="btn btn-outline-danger">4 Sao (@htmlCount4Star)</button>
                                                    }
                                                </form>
                                            </div>
                                            <div class="col-lg-2 col-md-4 col-4 mb-3">
                                                <form asp-action="GetDetailProduct" method="get">
                                                    <input type="hidden" value="3" name="htmlStar" />
                                                    @if (chooseStar == 3)
                                                    {
                                                        <button type="submit" class="btn btn-outline-danger active">3 Sao (@htmlCount3Star)</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="submit" class="btn btn-outline-danger">3 Sao (@htmlCount3Star)</button>
                                                    }
                                                </form>
                                            </div>
                                            <div class="col-lg-2 col-md-4 col-4 mb-3">
                                                <form asp-action="GetDetailProduct" method="get">
                                                    <input type="hidden" value="2" name="htmlStar" />
                                                    @if (chooseStar == 2)
                                                    {
                                                        <button type="submit" class="btn btn-outline-danger active">2 Sao (@htmlCount2Star)</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="submit" class="btn btn-outline-danger">2 Sao (@htmlCount2Star)</button>
                                                    }
                                                </form>
                                            </div>
                                            <div class="col-lg-2 col-md-4 col-4 mb-3">
                                                <form asp-action="GetDetailProduct" method="get">
                                                    <input type="hidden" value="1" name="htmlStar" />
                                                    @if (chooseStar == 1)
                                                    {
                                                        <button type="submit" class="btn btn-outline-danger active">1 Sao (@htmlCount1Star)</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="submit" class="btn btn-outline-danger">1 Sao (@htmlCount1Star)</button>
                                                    }
                                                </form>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            @{
                                foreach (var item in listFeedback)
                                {
                                    <div class="row">
                                        <div class="feedback_d_info_avatar">
                                            <span style="border: 1px solid; border-radius: 50%; padding: 15px; float: right; background: antiquewhite;">
                                                @item.LastName[0]@item.FirstName[0]
                                            </span>
                                        </div>
                                        <div class="feedback_d_info_main">
                                            <div style="font-weight:600;">@item.LastName @item.FirstName</div>
                                            <div>
                                                @for (int i = 1; i <= item.Star; i++)
                                                {
                                                    <i class="fa-solid fa-star" style="color:red;"></i>
                                                }
                                                @for (int i = item.Star + 1; i <= 5; i++)
                                                {
                                                    <i class="fa-solid fa-star" style="color:black;"></i>
                                                }
                                            </div>
                                            <div>
                                                <span>@item.CreateDay</span>
                                                @if (item.Color != "default")
                                                {
                                                    <span> | Màu sắc: @item.Color</span>
                                                }
                                            </div>
                                            <div>@item.FeedBackContent</div>
                                            @foreach (var img in item.ListImageName)
                                            {
                                                <a href="~/image/feedback/@img">
                                                    <img style="width: 72px; height: 72px; border: 1px solid #e1e1e1;" src="~/image/feedback/@img" />
                                                </a>
                                            }
                                            @{
                                                if (item.ShopFeedbackId != null)
                                                {
                                                    <div class="shop_feedback_content">
                                                        <h4>Phản hồi người bán</h4>
                                                        <p>@item.ShopFeedbackContent</p>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <hr />
                                    </div>
                                }
                            }
                            <div>
                                <ul class="pagination">
                                    <pager class="pager-container"
                                           list="@listFeedback"
                                           asp-area=""
                                           asp-controller="Products"
                                           asp-action="GetDetailProduct"
                                           asp-route-id="@Model.ProductId"
                                           asp-route-htmlStar="@chooseStar" />
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

}
<!--feedback end-->
<!--product area start-->
<section class="product_area related_products">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>@Localizer["product other"] </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product_carousel product_column4 owl-carousel">
                @foreach (var item in productDifferent)
                {
                    <div class="col-lg-3">
                        <article class="single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a class="primary_img" asp-area="" asp-controller="Products" asp-action="GetDetailProduct" asp-route-id="@item.ProductId">
                                        <img src="~/image/product/@item.Image" alt="">
                                    </a>
                                    <div class="label_product">
                                        <span class="label_sale">-@item.Voucher%</span>
                                    </div>
                                </div>
                                <figcaption class="product_content">
                                    <h4 class="product_name"><a href="product-details.html">@item.ProductName </a></h4>
                                    <div class="price_box">
                                        <span class="current_price">@item.Price.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</span>
                                        <span class="count_product_sell">Đã bán @item.CountProductSell</span>
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                    </div>

                }

            </div>
        </div>
    </div>
</section>
<!--product area end-->
@section Scripts{
    <script>
        // Get all the <li> elements
        var liElements = document.querySelectorAll("#list_prouduct_img li");

        // Add click event listener to each <li> element
        liElements.forEach(function (li) {
            li.addEventListener("mouseover", function () {
                // Get the image URL from the clicked <li> element
                var imageUrl = li.querySelector("img").getAttribute("src");

                // Update the src attribute of the main product image
                document.getElementById("main_product").setAttribute("src", imageUrl);
            });
        });

        function selectColor(li, stock) {
            var lis = document.querySelectorAll('.product_variant.color li');
            lis.forEach(function (item) {
                item.classList.remove("selected");
            });

            li.classList.add("selected")
            document.getElementById('stockSpanColor').innerText = stock + ' sản phẩm có sẵn';
            var maxQuantity = document.getElementById('htmlQuantity');
            maxQuantity.max = stock;
            inputQuantity.value = 1;
            notiQuantity.style.display = 'none';
        }
        var inputQuantity = document.getElementById('htmlQuantity');
        var notiQuantity = document.getElementById('notiQuantity');
        inputQuantity.addEventListener('input', function () {
            if (parseInt(inputQuantity.value) > parseInt(inputQuantity.max)) {
                inputQuantity.value = inputQuantity.max;
                notiQuantity.style.display = 'block';
                setTimeout(() => {
                    errorMessage.style.display = 'none';
                }, 5000);
            } else {
                notiQuantity.style.display = 'none';
            }
        })

    </script>
    <script>
        window.addEventListener('beforeunload', function () {
            localStorage.setItem('scrollPosition', window.scrollY);
        });
        window.addEventListener('load', function () {
            var scrollPosition = localStorage.getItem('scrollPosition');
            if (scrollPosition !== null) {
                window.scrollTo(0, scrollPosition);
                localStorage.removeItem('scrollPosition'); // Optional: Remove the stored scroll position
            }
        });
    </script>

}
