@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity
@using Plant.Areas.Identity.Data
@model IEnumerable<Plant.ViewModels.OrderVm>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- my account start  -->
<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <div class="dashboard_tab_button">
                        <ul role="tablist" class="nav flex-column dashboard-list">
                            <li><a asp-area="" asp-controller="Users" asp-action="Index" class="nav-link ">@Localizer["my account"]</a></li>
                            <li><a asp-area="" asp-controller="Users" asp-action="ManageOrder" class="nav-link active">@Localizer["purchase order"]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade show active">
                            <section class="hk-sec-wrapper mb-30">
                                <div style="overflow-x: auto;">
                                    <table style="width:100%;">
                                        <thead>
                                            @{
                                                string encodedWaitConfirmation = System.Web.HttpUtility.UrlEncode("Chờ xác nhận");
                                                string encodedDelivering = System.Web.HttpUtility.UrlEncode("Đang giao hàng");
                                                string encodedDelivered = System.Web.HttpUtility.UrlEncode("Giao hàng thành công");
                                                string encodedCancel = System.Web.HttpUtility.UrlEncode("Đã hủy");
                                            }
                                            <tr>
                                                <th style="min-width:100px;">
                                                    <form asp-action="ManageOrder" method="get">
                                                        <input type="hidden" value="" name="orderStatus" />
                                                        <button type="submit" style=" border: none; background-color: transparent; font-size: 16px; font-weight: 600;">@Localizer["all"]</button>
                                                    </form>
                                                </th>
                                                <th style="min-width:120px;">
                                                    <form asp-action="ManageOrder" method="get">
                                                        <input type="hidden" value="@Html.Raw(encodedWaitConfirmation)" name="orderStatus" />
                                                        <button type="submit" style=" border: none; background-color: transparent; font-size: 16px; font-weight: 600;">@Localizer["wait for confirmation"]</button>
                                                    </form>
                                                </th>
                                                <th style="min-width:140px;">
                                                    <form asp-action="ManageOrder" method="get">
                                                        <input type="hidden" value="@Html.Raw(encodedDelivering)" name="orderStatus" />
                                                        <button type="submit" style=" border: none; background-color: transparent; font-size: 16px; font-weight: 600;">@Localizer["delivering"]</button>
                                                    </form>
                                                </th>
                                                <th style="min-width:100px;">
                                                    <form asp-action="ManageOrder" method="get">
                                                        <input type="hidden" value="@Html.Raw(encodedDelivered)" name="orderStatus" />
                                                        <button type="submit" style=" border: none; background-color: transparent; font-size: 16px; font-weight: 600;">@Localizer["delivered"]</button>
                                                    </form>
                                                </th>
                                                <th style="min-width:100px;">
                                                    <form asp-action="ManageOrder" method="get">
                                                        <input type="hidden" value="@Html.Raw(encodedCancel)" name="orderStatus" />
                                                        <button type="submit" style=" border: none; background-color: transparent; font-size: 16px; font-weight: 600;">@Localizer["cancelled"]</button>
                                                    </form>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </section>
                            @foreach (var order in Model)
                            {
                                <section class="hk-sec-wrapper mb-30">
                                    <div class="row">
                                        <div class="col-3">@Localizer["order"] #@order.OrderId </div>
                                        <div class="col-5">@Localizer["day"] @order.CreateDate.ToString("dd/MM/yyyy")</div>
                                        <div class="col-4">@order.OrderStatus</div>
                                    </div>
                                    <hr />
                                    @if (order.OrderStatus == "Giao hàng thành công")
                                    {
                                        @foreach (var cart in order.ListCart)
                                        {
                                            <div class="row">
                                                <div class="col-2">
                                                    <img src="~/image/product/@cart.ProductImg" style="border: 1px solid #e1e1e1;" />
                                                </div>
                                                <div class="col-6">
                                                    <div style="font-weight:600;">@cart.ProductName</div>
                                                    <div style="opacity:0.6;">Màu sắc: @cart.Color</div>
                                                    <div style="opacity:0.6;">x @cart.Quantity</div>
                                                </div>
                                                <div class="col-4">
                                                    <div>
                                                        <del style="opacity:0.26;">@cart.OriginalPrice.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</del>
                                                        <span style="color:red;">@cart.Price.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</span>
                                                    </div>
                                                    <div style="margin-top:15px;">
                                                        @if (cart.FeedbackId == null)
                                                        {
                                                            <a type="button" class="btn btn-danger" asp-area="" asp-controller="Users" asp-action="AddFeedback" asp-route-id="@cart.Id">@Localizer["add feedback"]</a>
                                                        }
                                                        else
                                                        {
                                                            <a type="button" class="btn btn-secondary" asp-area="" asp-controller="Users" asp-action="ReviewFeedback" asp-route-id="@cart.Id">@Localizer["see feedback"]</a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var cart in order.ListCart)
                                        {
                                            <div class="row">
                                                <div class="col-2">
                                                    <img src="~/image/product/@cart.ProductImg" style="border: 1px solid #e1e1e1;" />
                                                </div>
                                                <div class="col-6">
                                                    <div style="font-weight:600;">@cart.ProductName</div>
                                                    <div style="opacity:0.6;">Màu sắc: @cart.Color</div>
                                                    <div style="opacity:0.6;">x @cart.Quantity</div>
                                                </div>
                                                <div class="col-4">
                                                    <del style="opacity:0.26;">@cart.OriginalPrice.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</del>
                                                    <span style="color:red;">@cart.Price.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</span>
                                                </div>
                                            </div>
                                            <hr />
                                        }

                                    }
                                    <div class="row">
                                        @{
                                            if (order.OrderStatus == "Chờ xác nhận")
                                            {
                                                <div class="col-8">
                                                    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modelDetailOrder-@order.OrderId">
                                                        @Localizer["see detail"]
                                                    </button>
                                                    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#modelDeleteOrder-@order.OrderId">
                                                        @Localizer["cancel"]
                                                    </button>
                                                </div>
                                                <!-- Modal detail order -->
                                                <div class="modal fade" id="modelDetailOrder-@order.OrderId" tabindex="-1" role="dialog" aria-labelledby="modelDetailOrder-@order.OrderId" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">@Localizer["order detail"] #@order.OrderId</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>@Localizer["people"]: @order.LastName @order.FirstName</p>
                                                                <p>@Localizer["phone"]: @order.Phone</p>
                                                                <p>@Localizer["day"] @order.CreateDate.ToString("dd/MM/yyyy")</p>
                                                                @foreach (var cart in order.ListCart)
                                                                {
                                                                    <div class="row">
                                                                        <div class="col-2" style="margin:10px 0;">
                                                                            <img src="~/image/product/@cart.ProductImg" style="border: 1px solid #e1e1e1;width:80%;height:auto;" />
                                                                        </div>
                                                                        <div class="col-6" style="margin:10px 0;">
                                                                            <div style="font-weight:600;">@cart.ProductName</div>
                                                                            <div style="opacity:0.6;">Màu sắc: @cart.Color</div>
                                                                            <div style="opacity:0.6;">x @cart.Quantity</div>
                                                                        </div>
                                                                        <div class="col-4" style="margin:10px 0;">
                                                                            <del style="opacity:0.26;">@cart.OriginalPrice.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</del>
                                                                            <span style="color:red;">@cart.Price.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</span>
                                                                        </div>
                                                                    </div>
                                                                }
                                                                <div class="row" style="margin-top:20px;">
                                                                    <div class="col-8 text-end">@Localizer["Cart Subtotal"]</div>
                                                                    <div class="col-4">@order.Money.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</div>
                                                                    <div class="col-8 text-end">@Localizer["Transport fee"]</div>
                                                                    <div class="col-4">@order.ShipFee.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</div>
                                                                    <div class="col-8 text-end">@Localizer["Order Total"]</div>
                                                                    <div class="col-4" style="color:red;">@order.Total.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</div>
                                                                    <div class="col-8 text-end">@Localizer["payment method"]</div>
                                                                    <div class="col-4" style="color:red;">@order.PaymentStatus</div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["close"]</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Modal delete order -->
                                                <div class="modal fade" id="modelDeleteOrder-@order.OrderId" tabindex="-1" role="dialog" aria-labelledby="modelDeleteOrder-@order.OrderId" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">@Localizer["confirm delete order"] #@order.OrderId</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["close"]</button>
                                                                <form asp-action="DeleteOrder" method="post">
                                                                    <input type="hidden" name="orderId" value="@order.OrderId" />
                                                                    <input type="submit" name="" value="Delete &#xf00c" class="btn btn-danger mr-2 fa-input">
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div>@Localizer["Order Total"]: <span style="color:red;"> @order.Total.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</span></div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-8">
                                                    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modelDetailOrder-@order.OrderId">
                                                        @Localizer["see detail"]
                                                    </button>
                                                </div>
                                                <!-- Modal detail order -->
                                                <div class="modal fade" id="modelDetailOrder-@order.OrderId" tabindex="-1" role="dialog" aria-labelledby="modelDetailOrder-@order.OrderId" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">@Localizer["order detail"] #@order.OrderId</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>@Localizer["people"]: @order.LastName @order.FirstName</p>
                                                                <p>@Localizer["phone"]: @order.Phone</p>
                                                                <p>@Localizer["day"] @order.CreateDate.ToString("dd/MM/yyyy")</p>
                                                                @foreach (var cart in order.ListCart)
                                                                {
                                                                    <div class="row">
                                                                        <div class="col-2" style="margin:10px 0;">
                                                                            <img src="~/image/product/@cart.ProductImg" style="border: 1px solid #e1e1e1;width:80%;height:auto;" />
                                                                        </div>
                                                                        <div class="col-6" style="margin:10px 0;">
                                                                            <div style="font-weight:600;">@cart.ProductName</div>
                                                                            <div style="opacity:0.6;">Màu sắc: @cart.Color</div>
                                                                            <div style="opacity:0.6;">x @cart.Quantity</div>
                                                                        </div>
                                                                        <div class="col-4" style="margin:10px 0;">
                                                                            <del style="opacity:0.26;">@cart.OriginalPrice.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</del>
                                                                            <span style="color:red;">@cart.Price.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</span>
                                                                        </div>
                                                                    </div>
                                                                }
                                                                <div class="row" style="margin-top:20px;">
                                                                    <div class="col-8 text-end">@Localizer["Cart Subtotal"]</div>
                                                                    <div class="col-4">@order.Money.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</div>
                                                                    <div class="col-8 text-end">@Localizer["Transport fee"]</div>
                                                                    <div class="col-4">@order.ShipFee.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</div>
                                                                    <div class="col-8 text-end">@Localizer["Order Total"]</div>
                                                                    <div class="col-4" style="color:red;">@order.Total.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</div>
                                                                    <div class="col-8 text-end">@Localizer["payment method"]n</div>
                                                                    <div class="col-4" style="color:red;">@order.PaymentStatus</div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["close"]</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div>@Localizer["Order Total"]: <span style="color:red;"> @order.Total.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</span></div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </section>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- my account end   -->
@section Scripts{

}