@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- customer login start -->
<div class="customer_login">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <img src="~/LayoutAssets/img/icon/giphy.gif" alt="" />
            </div>

            <!--register area start-->
            <div class="col-lg-5 col-md-6">
                <div class="account_form register">
                    <form action="#">
                        <h2>@Localizer["register"]</h2>

                        <p>
                            <input type="text" placeholder="@Localizer["name"]">
                        </p>
                        <p>
                            <input type="email" placeholder="Email">
                        </p>
                        <p>
                            <input type="number" placeholder="@Localizer["phone"]">
                        </p>
                        <p>
                            <input type="password" placeholder="@Localizer["password"]">
                        </p>
                        <div class="login_submit">
                            <button type="submit">@Localizer["register"]</button>
                        </div>
                        <div style="text-align: center; margin-top: 5%;">
                            <p>@Localizer["had account"]<a style="color:lawngreen;" asp-controller="Users" asp-action="Login"> @Localizer["Login"]</a></p>
                        </div>
                    </form>
                    
                </div>
            </div>
            <!--register area end-->

        </div>
    </div>
</div>
<!-- customer login end -->
