@model IEnumerable<Plant.ViewModels.CategoryVm>
<ul>
    @foreach (var item in Model)
    {
        if (item.ParentId == null)
        {
            int count = 0;
            <li class="menu_item_children">
                @foreach (var child in Model)
                {
                    if (child.ParentId == item.CategoryId)
                    {
                        count++;
                    }
                }
                @if (count > 0)
                {
                    <a asp-area="" asp-controller="Products" asp-action="GetListProducts" asp-route-id="@item.CategoryId"> @item.CategoryName <i class="fa fa-angle-right"></i></a>
                    <ul class="categories_mega_menu">
                        @foreach (var child in Model)
                        {
                            if (child.ParentId == item.CategoryId)
                            {
                                <li class="menu_item_children">
                                    <a asp-area="" asp-controller="Products" asp-action="GetListProducts" asp-route-id="@child.CategoryId"> @child.CategoryName</a>
                                </li>

                            }
                        }

                    </ul>
                }
                else
                {
                    <a asp-area="" asp-controller="Products" asp-action="GetListProducts" asp-route-id="@item.CategoryId"> @item.CategoryName</a>
                }
            </li>
            count = 0;
        }

    }


</ul>
