@using Plant.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    List<ProductVm> listProduct = ViewBag.ListProduct;
    List<BlogVm> listBlog = ViewBag.ListBlog;
}
<!--slider area start-->
<section class="slider_section mb-30">
    <div class="slider_area owl-carousel">
        <div class="single_slider d-flex align-items-center" data-bgimg="/LayoutAssets/img/slider/slider3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h1 style="color:white;text-shadow: 0 0 0.2em black; ">@Localizer["potted plant"] </h1>
                            <p style="color:white;text-shadow: 0 0 0.2em black; ">@Localizer["discount"] <span>20% </span> @Localizer["luckybamboo member"]</p>
                            <a class="button" asp-area="" asp-controller="Products" asp-action="Index"><span class="animation-heartBeat">@Localizer["discover now"]</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="/LayoutAssets/img/slider/slider1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h1 style="color:white;text-shadow: 0 0 0.2em black; ">@Localizer["big sale"]</h1>
                            <p style="color:white;text-shadow: 0 0 0.2em black; ">@Localizer["discount"] <span>20% </span> @Localizer["luckybamboo member"]</p>
                            <a class="button" asp-area="" asp-controller="Products" asp-action="Index">@Localizer["discover now"] </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="/LayoutAssets/img/slider/slider2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h1 style="color:white;text-shadow: 0 0 0.2em black; ">@Localizer["top sale"]</h1>
                            <p style="color:white;text-shadow: 0 0 0.2em black; ">@Localizer["discount"] <span>20% </span> @Localizer["luckybamboo member"]</p>
                            <a class="button" asp-area="" asp-controller="Products" asp-action="Index">@Localizer["discover now"] </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--slider area end-->
<!--lukani store titlev start-->
<div class="lukani_store_title">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title lstore_title">
                    <h2 class="animation-heartBeat">Lucky BamBoo Store</h2>
                    <p>
                        @Localizer["welcome"]
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--lukani store titlev end-->
<!--shipping area start-->
<div class="shipping_area shipping_two">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_shipping" data-aos="fade-right">
                    <div class="shipping_icone">
                        <img src="~/LayoutAssets/img/about/shipping1.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h3>@Localizer["Free Delivery"]</h3>
                        <p>@Localizer["Free shipping"]</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_shipping col_2" data-aos="fade-up">
                    <div class="shipping_icone">
                        <img src="~/LayoutAssets/img/about/shipping2.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h3>@Localizer["Safe Payment"]</h3>
                        <p>@Localizer["Payment"]</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_shipping col_3" data-aos="fade-left">
                    <div class="shipping_icone">
                        <img src="~/LayoutAssets/img/about/shipping3.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h3>@Localizer["Friendly Services"]</h3>
                        <p>@Localizer["return goods"]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--shipping area end-->
<!--product area start-->
<div class="product_area  mb-95" data-aos="zoom-in">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12">
                <div class="product_header">
                    <div class="section_title">
                        <h2 class="animation-heartBeat">@Localizer["featured products"]</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active">
                <div class="row">
                    <div class="product_carousel product_column4 owl-carousel">

                        @for (int i = 0; i < listProduct.Count; i += 1)
                        {
                            <div class="col-lg-3">
                                <div class="product_items">
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a class="primary_img" asp-area="" asp-controller="Products" asp-action="GetDetailProduct" asp-route-id="@listProduct[i].ProductId">
                                                    <img src="~/image/product/@listProduct[i].Image" alt="">
                                                </a>
                                                @if (listProduct[i].Voucher != null)
                                                {
                                                    <div class="label_product">
                                                        <span class="label_sale">-@listProduct[i].Voucher%</span>
                                                    </div>
                                                }

                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a asp-area="" asp-controller="Products" asp-action="GetDetailProduct" asp-route-id="@listProduct[i].ProductId">
                                                        @listProduct[i].ProductName
                                                    </a>
                                                </h4>
                                                <div class="price_box">
                                                    <span class="current_price">@listProduct[i].Price.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</span>
                                                    <span class="count_product_sell">Đã bán @listProduct[i].CountProductSell</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    @*<article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a class="primary_img" asp-area="" asp-controller="Products" asp-action="GetDetailProduct" asp-route-id="@listProduct[i+1].ProductId">
                                                    <img src="~/image/product/@listProduct[i+1].Image" alt="">
                                                </a>
                                                @if (listProduct[i + 1].Voucher != null)
                                                {
                                                    <div class="label_product">
                                                        <span class="label_sale">-@listProduct[i + 1].Voucher%</span>
                                                    </div>
                                                }

                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a asp-area="" asp-controller="Products" asp-action="GetDetailProduct" asp-route-id="@listProduct[i+1].ProductId">
                                                        @listProduct[i + 1].ProductName
                                                    </a>
                                                </h4>
                                                <div class="price_box">
                                                    <span class="current_price">@listProduct[i + 1].Price.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</span>
                                                    <span class="count_product_sell">Đã bán @listProduct[i + 1].CountProductSell</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>*@

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product area end-->
<!--banner fullwidth area-->
<div class="banner_fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="banner_fullwidth_content" data-aos="fade-right">
                    <h2 class="animation-heartBeat">@Localizer["choice plant"]</h2>
                    <p>@Localizer["discount"] <span>20% </span> @Localizer["luckybamboo member"]</p>
                    <a asp-area="" asp-controller="Products" asp-action="Index">@Localizer["discover now"]</a>
                </div>
            </div>
            <div class="earth col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center align-center" data-aos="fade-left">
                <img src="~/LayoutAssets/img/blog/snapedit_1696239622506.png" style="height:350px;width:350px;" />
            </div>
        </div>
    </div>
</div>
<!--banner fullwidth end-->
<!--blog area start-->
<section class="blog_section blog_five" data-aos="zoom-in-up">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2 class="animation-heartBeat">@Localizer["our latest posts"]</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="blog_carousel blog_column3 owl-carousel">
                @foreach (var item in listBlog)
                {
                    <div class="col-lg-3">
                        <article class="single_blog">
                            <figure>
                                <div class="blog_thumb">
                                    <a asp-area="" asp-controller="Blogs" asp-action="GetDetailBlog" asp-route-id="@item.BlogId"><img src="~/image/blog/@item.BlogImg" alt=""></a>
                                </div>
                                <figcaption class="blog_content">
                                    <h4 class="post_title"><a href="blog-details.html">@item.Title</a></h4>

                                    <p class="post_desc">
                                        @item.ShortDes
                                    </p>
                                </figcaption>
                            </figure>
                        </article>
                    </div>

                }
            </div>
        </div>
    </div>
</section>
<!--blog area end-->
<!--newsletter area start-->
<div class="newsletter_area_start">

</div>
<!--newsletter area end-->