@using Plant.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    List<ProductVm> listProduct = ViewBag.ListProduct;
    List<BlogVm> listBlog = ViewBag.ListBlog;
}
<!--slider area start-->
<section class="slider_section mb-30">
    <div class="slider_area owl-carousel">
        <div class="single_slider d-flex align-items-center" data-bgimg="/LayoutAssets/img/slider/slider3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h1 style="color:white;text-shadow: 0 0 0.2em black; ">@Localizer["potted plant"] </h1>
                            <p style="color:white;text-shadow: 0 0 0.2em black; ">@Localizer["discount"] <span>20% </span> @Localizer["luckybamboo member"]</p>
                            <a class="button" asp-controller="Products" asp-action="Index">@Localizer["discover now"] </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="/LayoutAssets/img/slider/slider1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h1 style="color:white;text-shadow: 0 0 0.2em black; ">@Localizer["big sale"]</h1>
                            <p style="color:white;text-shadow: 0 0 0.2em black; ">@Localizer["discount"] <span>20% </span> @Localizer["luckybamboo member"]</p>
                            <a class="button" asp-controller="Products" asp-action="Index">@Localizer["discover now"] </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="/LayoutAssets/img/slider/slider2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h1 style="color:white;text-shadow: 0 0 0.2em black; ">@Localizer["top sale"]</h1>
                            <p style="color:white;text-shadow: 0 0 0.2em black; ">@Localizer["discount"] <span>20% </span> @Localizer["luckybamboo member"]</p>
                            <a class="button" asp-controller="Products" asp-action="Index">@Localizer["discover now"] </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--slider area end-->
<!--lukani store titlev start-->
<div class="lukani_store_title">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title lstore_title">
                    <h2>Lucky BamBoo Store</h2>
                    <p>
                        @Localizer["welcome"]
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--lukani store titlev end-->
<!--shipping area start-->
<div class="shipping_area shipping_two">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="~/LayoutAssets/img/about/shipping1.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h3>@Localizer["Free Delivery"]</h3>
                        <p>@Localizer["Free shipping"]</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_shipping col_2">
                    <div class="shipping_icone">
                        <img src="~/LayoutAssets/img/about/shipping2.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h3>@Localizer["Safe Payment"]</h3>
                        <p>@Localizer["Payment"]</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_shipping col_3">
                    <div class="shipping_icone">
                        <img src="~/LayoutAssets/img/about/shipping3.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h3>@Localizer["Friendly Services"]</h3>
                        <p>@Localizer["return goods"]</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--shipping area end-->
<!--product area start-->
<div class="product_area  mb-95 ">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12">
                <div class="product_header">
                    <div class="section_title">
                        <h2>@Localizer["featured products"]</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active">
                <div class="row">
                    <div class="product_carousel product_column4 owl-carousel">
                        @foreach (var item in listProduct)
                        {
                            <div class="col-lg-3">
                                <div class="product_items">
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a class="primary_img" asp-controller="Products" asp-action="GetDetailProduct" asp-route-id="@item.ProductId">
                                                    <img src="~/image/product/@item.Image" alt="">
                                                </a>
                                                @if (item.Voucher != null)
                                                {
                                                    <div class="label_product">
                                                        <span class="label_sale">-@item.Voucher%</span>
                                                    </div>
                                                }
                                                
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a asp-controller="Products" asp-action="GetDetailProduct" asp-route-id="@item.ProductId">
                                                        @item.ProductName
                                                    </a>
                                                </h4>
                                                <div class="price_box">
                                                    @if (item.Voucher == null)
                                                    {
                                                        <span class="current_price">@item.Price@item.CurrencyUnit</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="current_price">@item.Price@item.CurrencyUnit</span>
                                                        <span class="old_price">@item.OriginalPrice@item.CurrencyUnit</span>
                                                    }
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product area end-->
<!--banner fullwidth area-->
<div class="banner_fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="banner_fullwidth_content">
                    <h2>@Localizer["choice plant"]</h2>
                    <p>@Localizer["discount"] <span>20% </span> @Localizer["luckybamboo member"]</p>
                    <a asp-controller="Products" asp-action="Index">@Localizer["discover now"]</a>
                </div>
            </div>
            <div class="earth col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center align-center">
                <img src="~/LayoutAssets/img/blog/snapedit_1696239622506.png" style="height:350px;width:350px;" />
            </div>
        </div>
    </div>
</div>
<!--banner fullwidth end-->
<!--testimonial area start-->
<div class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>@Localizer["customer say"]</h2>
                </div>
            </div>
        </div>
        <div class="testimonial_container">
            <div class="row">
                <div class="testimonial_carousel owl-carousel">
                    <div class="col-12">
                        <div class="single-testimonial">
                            <div class="testimonial-icon-img">
                                <img src="~/LayoutAssets/img/about/testimonials-icon.png" alt="">
                            </div>
                            <div class="testimonial_content">
                                <p>
                                    “ When a beautiful design is combined with powerful technology, <br>
                                    it truly is an artwork. I love how my website operates and looks with this
                                    theme. Thank you for the awesome product. ”
                                </p>
                                <div class="testimonial_text_img">
                                    <a href="#"><img src="~/LayoutAssets/img/about/testimonial1.png" alt=""></a>
                                </div>
                                <div class="testimonial_author">
                                    <p><a href="#">Rebecka Filson</a> / <span>CEO of CSC</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="single-testimonial">
                            <div class="testimonial-icon-img">
                                <img src="~/LayoutAssets/img/about/testimonials-icon.png" alt="">
                            </div>
                            <div class="testimonial_content">
                                <p>
                                    “ When a beautiful design is combined with powerful technology, <br>
                                    it truly is an artwork. I love how my website operates and looks with this
                                    theme. Thank you for the awesome product. ”
                                </p>
                                <div class="testimonial_text_img">
                                    <a href="#"><img src="~/LayoutAssets/img/about/testimonial2.png" alt=""></a>
                                </div>
                                <div class="testimonial_author">
                                    <p><a href="#">Amber Laha</a> / <span>CEO of DND</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="single-testimonial">
                            <div class="testimonial-icon-img">
                                <img src="~/LayoutAssets/img/about/testimonials-icon.png" alt="">
                            </div>
                            <div class="testimonial_content">
                                <p>
                                    “ When a beautiful design is combined with powerful technology, <br>
                                    it truly is an artwork. I love how my website operates and looks with this
                                    theme. Thank you for the awesome product. ”
                                </p>
                                <div class="testimonial_text_img">
                                    <a href="#"><img src="~/LayoutAssets/img/about/testimonial3.png" alt=""></a>
                                </div>
                                <div class="testimonial_author">
                                    <p><a href="#">Lindsy Neloms</a> / <span>CEO of SFD</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--testimonial area end-->
<!--blog area start-->
<section class="blog_section blog_five">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>@Localizer["our latest posts"]</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="blog_carousel blog_column3 owl-carousel">
                @foreach (var item in listBlog)
                {
                    <div class="col-lg-3">
                        <article class="single_blog">
                            <figure>
                                <div class="blog_thumb">
                                    <a asp-controller="Blogs" asp-action="GetDetailBlog" asp-route-id="@item.BlogId"><img src="~/image/blog/@item.BlogImg" alt=""></a>
                                </div>
                                <figcaption class="blog_content">
                                    <h4 class="post_title"><a href="blog-details.html">@item.Title</a></h4>
                                    
                                    <p class="post_desc">
                                        @item.ShortDes
                                    </p>
                                </figcaption>
                            </figure>
                        </article>
                    </div>

                }
            </div>
        </div>
    </div>
</section>
<!--blog area end-->
<!--newsletter area start-->
<div class="newsletter_area_start">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>Get <span>20% Off</span> Your Next Order</h2>
                </div>
                <div class="newsletter_container">
                    <div class="subscribe_form">
                        <form id="mc-form" class="mc-form footer-newsletter">
                            <input id="mc-email" type="email" autocomplete="off" placeholder="Enter you email" />
                            <button id="mc-submit">Subscribe</button>
                            <div class="email_icon">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts text-centre">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div><!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--newsletter area end-->