@using Microsoft.AspNetCore.Mvc.Localization
@model Plant.ViewModels.OrderVm
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "CartDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="cart_done_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <h1>Đặt hàng thành công</h1>
                <h4>Cảm ơn bạn đã đặt hàng tại LuckyBamBoo shop. Đơn hàng của bạn đang được xử lí, chúng tôi sẽ liên hệ bạn trong thời gian sớm nhất.</h4>
                <div style=" border: 1px solid #f2f4f7; border-radius: 30px; background-color: #f2f4f7; padding: 10px;">
                    <div>Đơn hàng:#@Model.OrderId </div>
                    <div><i class="fa-regular fa-circle"></i> Người nhận: @Model.LastName @Model.FirstName</div>
                    <div><i class="fa-regular fa-circle"></i> Số điện thoại: @Model.Phone </div>
                    <div><i class="fa-regular fa-circle"></i> Địa chỉ: @Model.Road, <span id="span_ward"></span>, <span id="span_district"></span>, <span id="span_city"></span></div>
                    <div><i class="fa-regular fa-circle"></i> Tổng tiền: @Model.Total.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</div>
                </div>
                <div class="row" style="margin-top:15px;">
                    <div class="col-lg-4 col-md-6 col-6">
                        <button class="btn btn-warning">Quản lí đơn hàng</button>
                    </div>
                    <div class="col-lg-4 col-md-6 col-6">
                        <button class="btn btn-success">Tiếp tục mua hàng</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <img src="~/LayoutAssets/img/order/2247184.png" />
            </div>
        </div>
    </div>
</div>
@section Scripts{ 
<script>
    var city =@Model.City;
    var district =@Model.District;
    var ward=@Model.Ward;
    //show option of  city in file json
    fetch('/AdminAssets/vendors/bizmac-customjs/city.json')
        .then(response => response.json())
        .then(data => {
            //show selected city if have value
            for (var i = 0; i < data.length; i++) {
                if (city == data[i].code) {
                    var spanCity = document.getElementById('span_city');
                    spanCity.textContent = data[i].name_with_type;
                }
            }
        })
        .catch(error => {
            // Handle any errors that occur during the fetch
            console.error('Error:', error);
        });

    //show option selected of district
    fetch(`/AdminAssets/vendors/bizmac-customjs/district/${city}.json`)
        .then(response => response.json())
        .then(data => {
            //show district if have value
            for (var i = 0; i < data.length; i++) {
                if (district == data[i].code) {
                    var spanDistrict = document.getElementById('span_district');
                    spanDistrict.textContent = data[i].name_with_type;
                }
            }
        })
        .catch(error => {
            // Handle any errors that occur during the fetch
            console.error('Error:', error);
        });

    //show option selected of ward
    fetch(`/AdminAssets/vendors/bizmac-customjs/ward/${district}.json`)
        .then(response => response.json())
        .then(data => {
            //show district if have value
            for (var i = 0; i < data.length; i++) {
                if (ward == data[i].code) {
                    var spanWard = document.getElementById('span_ward');
                    spanWard.textContent = data[i].name_with_type;
                }
            }
        })
        .catch(error => {
            // Handle any errors that occur during the fetch
            console.error('Error:', error);
        });
</script>
}