@page "/Login"
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="account_body_login">
    <div class="row">
        <div class="col-lg-4 col-md-3"></div>
        <div class="col-lg-4 col-md-6">
            <section>
                <form id="account" method="post">
                    <h3 style="display: flex; justify-content: center; margin-bottom: 10px; font-weight: 700;">LOGIN</h3>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email..." autocomplete="off"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Password" class="form-control" placeholder="Password..." autocomplete="off"/>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" type="checkbox" class="account_login_input_checkbox" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                            <span class="account_forgot_password">
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </span>
                        </div>

                    </div>
                    <div class="form-group">
                        <button type="submit" class="account_login_submit">Log in</button>
                    </div>

                </form>

                <h4 style="display:flex;justify-content:center;margin-top:20px;">- Or Sign In With -</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="account_login_different btn btn-light" name="provider" value="@provider.Name">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
                <div class="form-group">
                    <h4 style="display:flex;justify-content:center;margin-top:20px;">
                        Don't have a account ? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">  Register</a>
                    </h4>
                </div>
            </section>
        </div>
        <div class="col-lg-4 col-md-3"></div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
